.facilities{
    padding-top: 3.75rem;
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.facilities--dark{
    background: #222222;
    padding-bottom: 4.5rem;
    
}


.facilities__pretitle{
    margin-bottom: 1.5rem;
    padding-left: 5.3%;
    padding-right: 5.3%;
}

.facilities__title{
    margin-bottom: 2rem;
    padding-left: 5.3%;
    padding-right: 5.3%;
}

.core-features__slider{
    padding-bottom: 2.688rem;
    max-width: 375px;
}

.core-features__slide{
    height: 370px;
    position: relative;
    padding-left: 0.982rem;
    width: 100%;
}

.core-features__slide--dark{
    background-color:#292929;
}

.core-imgs-number{
    position: absolute;
    right: 2rem;
}

.core-imgs-number--dark{
    top:2em;
    right: 1.5em
}


.core-imgs-icon{
    margin-top: 5rem;
    margin-bottom: 2.375rem;
}

.core__subtitle{
    margin-bottom: 1.75rem;
}
