.facilities {
    &__pretitle {
        margin-top: 60px;
        margin-bottom: 24px; 
    }
    &__number {
      display: flex;
      justify-content: space-around;
      margin-bottom: 37px;
  
      h4 {
        font-family: "Archivo";
        font-style: normal;
        font-weight: 700;
        font-size: 120px;
        line-height: 130px;
        color: rgba(34, 34, 34, 0.04);
      }
      img {
        object-fit: contain;
        margin-top: 80px;
      }
    }    
    .swiper-pagination__facilities {
        margin-left: 37%;
        margin-top: 32.2px;
    }
    .swiper-pagination-bullet{
        background-color: #bead8e;
    }
    & .swiper-slide {
        padding-left: 8%;
        padding-right: 8%;
    }
    & .text__subtitle {
        margin-bottom: 28.06px;
    }
    
}