.handpicked-rooms{
    position: relative;
    top: -32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.handpicked-rooms__pretitle{
    margin-bottom: 24px;

}

.handpicked-rooms__title{
    margin-bottom: 44px;
}
