@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  background: #FFFFFF;
  z-index: 10;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  padding-left: 5%;
  padding-right: 6.9%;
}

.nav__list {
  display: none;
  list-style: none;
}

.nav--left {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
}

.nav__burguer:hover {
  scale: 1.1;
}

.nav__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  gap: 13%;
}

.nav__logo:hover {
  cursor: pointer;
}

.nav__logo-H {
  width: 35.96px;
  height: 36px;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
  padding: 12px;
}

.nav__funcionalities {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  gap: 30%;
}

.nav__burger {
  background-image: url("../../img/Header/burguer-menu.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 13px;
  border: none;
  background-color: #FFFFFF;
}

.nav__burger--close {
  background-image: url("../../img/Header/x.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 15.56px;
  border: none;
  background-color: transparent;
}

.nav__list--active {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  top: 70px;
  background-color: #FFFFFF;
  left: 0;
  z-index: -1;
  list-style: none;
  padding-top: 2rem;
  padding-left: 5.3%;
  gap: 1.5rem;
  padding-bottom: 1.7rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
}

.nav__link {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #222222;
  text-decoration: none;
}

.text__title {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
}

.text__pretitle {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
}

.text__pretitle--small {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.text__paragraph {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.text__subtitle--big {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -1.16px;
}

.text__subtitle {
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  text-align: left;
}

.text__subtitle--small {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.2px;
}

.text__subtitle--smaller {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.7200000286px;
  text-align: left;
}

.text__subtitle--super-small {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.text__card-paragraph {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  z-index: 2;
}

.text__card-title {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -1.05px;
}

.text__form {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.54px;
}

.text__form--label {
  font-size: 14px;
  line-height: 15px;
}

.text__footer-paragraph {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
}

.text__page-card {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: -0.4799999893px;
  text-align: left;
}

.text__price {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
}

.text__price--small {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 25px;
  text-align: right;
}

.text__price--night {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
}

.text__offer-card {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.44px;
}

.text__amenities {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.text__footer-paragraph--bigger {
  line-height: 48px;
}

.text__footer-paragraph--big {
  line-height: 26px;
}

.text__footer-paragraph--small {
  line-height: 20px;
}

.text__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.text--gray {
  color: #777777;
}

.text--lightgray {
  color: #C2C2C2;
}

.text--booking-gray {
  color: #BDBDBD;
}

.text--black {
  color: #111111;
}

.text--lightblack {
  color: #222222;
}

.text--light {
  color: hsl(0, 0%, 100%);
}

.text--gold {
  color: #BEAD8E;
}

.text--red {
  color: #DE5777;
}

.text--center {
  text-align: center;
}

.text--start {
  text-align: start;
}

.intro {
  background-color: #333;
  padding-top: 70px;
}

.intro__perfect-base {
  padding-left: 5.3%;
  padding-right: 8%;
  padding-top: 4.6875rem;
  padding-bottom: 4.75rem;
}

.intro__pretitle {
  margin-bottom: 2.5rem;
  margin-right: 7.375rem;
}

.intro__title {
  margin-bottom: 40px;
}

.button__intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro__availability {
  padding: 2.25rem 5.3%;
  width: 100%;
  background: #222222;
  gap: 2.625rem;
  display: flex;
  flex-direction: column;
}

.intro__calendar {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.intro__calendar-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.intro__calendar-input {
  max-width: 335px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #bead8e;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 0.875rem;
  color: #686868;
}

.intro__calendar-input::-webkit-calendar-picker-indicator {
  order: -1;
  filter: invert(0.5) sepia(1);
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.55rem;
}

.button {
  font-family: Archivo;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #FFFFFF;
  border: none;
  text-align: center;
}

.button--room-card {
  width: 32px;
  height: 32px;
}

.button:hover {
  scale: 1.1;
  cursor: pointer;
}

.button--dark {
  border: 2px solid rgba(255, 255, 255, 0.33);
  background-color: #333333;
}

.button--golden {
  background: #BEAD8E;
}

.button--intro {
  width: 217px;
  height: 60px;
}

.button--availability {
  width: 250px;
  height: 60px;
}

.button--form-availability {
  width: 290px;
  height: 60px;
}

.button--book {
  width: 216px;
  height: 60px;
  align-self: center;
}

.button--send {
  width: 250px;
  height: 60px;
}

.about-us {
  background-color: #fff;
  margin-top: 60px;
  position: relative;
}

.intro__about-us {
  background-color: #F9F9F9;
  width: 100%;
  padding-left: 5.3%;
  padding-right: 8%;
  padding-top: 38px;
  padding-bottom: 175px;
}

.about-us__pretitle {
  margin-bottom: 32px;
}

.about-us__title {
  margin-bottom: 16px;
}

.button {
  margin-top: 24px;
}

.about-us__cards {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  top: -120px;
  gap: 45px;
  padding-left: 14%;
  padding-right: 14%;
}

.about-us__card--team {
  background-color: #FFFFFF;
  width: 270px;
  z-index: 0;
}

.about-us__card--itemteam {
  height: 300px;
  background-image: url("../../img/Home/hotelcrew.jpg");
  background-size: cover;
}

.about-us__card--text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 38px;
  padding-right: 35.36px;
  padding-left: 35.36px;
  height: 300px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
}

.about-us__card-title {
  z-index: 2;
  margin-bottom: 21px;
}

.about-us__card--teamback {
  position: absolute;
  z-index: 0;
  top: 50px;
  right: 0;
}

.about-us__card--teamicon {
  width: 68px;
  height: 49.92px;
  margin-bottom: 29.44px;
  z-index: 2;
}

.about-us__card-text--dark {
  background-color: #222;
}

.about-us__card--itemlux {
  height: 300px;
  background-image: url("../../img/Home/luxury-room-home.jpg");
  background-size: cover;
}

.handpicked-rooms {
  position: relative;
  top: -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.handpicked-rooms__pretitle {
  margin-bottom: 1.5rem;
}

.handpicked-rooms__title {
  margin-bottom: 2.75rem;
}

.room-card {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.room-card--rooms {
  position: static;
  margin: 0;
}

.room-card__img--full {
  position: relative;
  background-color: #E5E5E5;
  height: 244px;
  display: flex;
  justify-content: center;
  margin: 0 6.4%;
}

.room-card__features-bar {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
  justify-content: space-around;
  top: -1rem;
  min-width: 256px;
  min-height: 40px;
}

.room-card__features-bar--rooms {
  top: auto;
  bottom: -20px;
  z-index: 1;
}

.room-card__img {
  position: relative;
  background-color: #E5E5E5;
  height: 244px;
  display: flex;
  justify-content: center;
  margin: 0 6.4%;
  -o-object-fit: cover;
     object-fit: cover;
}

.room-card__img--img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.room-card__info {
  background-color: #FFFFFF;
  padding: 1.18rem 1.5rem;
  position: relative;
  top: -20px;
  margin: 0 6.4%;
}

.rom-card__info--rooms {
  top: 0;
  padding-top: 3rem;
  padding-bottom: 1.75rem;
}

.room-card__title {
  margin-bottom: 1rem;
}

.rom-card__paragraph {
  margin-bottom: 1rem;
}

.room-card__price {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
}

.room-card__price--big {
  font-size: 32px;
  line-height: 43px;
}

.room-card__price--small {
  font-size: 16px;
  line-height: 17px;
}

.room-card__price-container {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: center;
}

.room-card__slider {
  position: relative;
}

.room-card__buttons {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 2%;
  z-index: 1;
  top: 100px;
  max-width: 600px;
}

.room-card__button--home {
  max-width: 680px;
}

.video {
  background-color: #222;
  padding-left: 5.3%;
  padding-right: 5.3%;
  padding-top: 64px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.video__pretitle {
  margin-bottom: 32px;
}

.video__title {
  margin-bottom: 16px;
}

.video__paragraph {
  max-width: 485px;
  margin-bottom: 32px;
}

.video__video {
  align-self: center;
  width: 100%;
  max-width: 600px;
  height: 40vh;
  margin-bottom: 36px;
}

.room-detail {
  padding: 3rem 5.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-detail__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.room-detail__card {
  margin-bottom: 3rem;
  width: 100%;
  max-width: 600px;
}

.room-detail__price {
  margin-bottom: 1rem;
}

.room-detail__img {
  background: #EFEFEF;
  height: 20vh;
  max-width: 600px;
  width: 100%;
  height: 100%;
}

.room-detail__img--img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.room-detail__availability {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.room-detail__form-title {
  margin-bottom: 2.25rem;
}

.room-detail__form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.room-detail__input-container {
  display: flex;
  flex-direction: column;
}

.room-detail__input-label {
  margin-bottom: 0.813rem;
}

.room-detail__input {
  border: none;
  background-color: #F8F8F8;
  padding: 1.5rem 2rem;
}

.room-detail__input::-webkit-calendar-picker-indicator {
  filter: invert(48%) sepia(0%) saturate(0%) hue-rotate(138deg) brightness(96%) contrast(98%);
  height: 1rem;
  width: 1rem;
}

.room-features {
  padding-right: 5.3%;
  padding-left: 5.3%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.room-features__container {
  max-width: 600px;
  width: 100%;
}

.room-features__paragraph {
  margin-bottom: 3.75rem;
}

.room-features__amenities {
  margin-bottom: 2.75rem;
}

.room-features__amenities-title {
  margin-bottom: 0.825rem;
}

.room-features__line {
  background-color: #F1F1F1;
  height: 1px;
  width: 100%;
  margin-bottom: 2.25rem;
}

.room-features__amenities {
  display: flex;
  flex-direction: column;
}

.room-features__review {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370;
}

.room-features__review-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #D5D5D5;
  position: relative;
  margin-bottom: 2.375rem;
}

.room-features__review-img--img {
  -o-object-fit: cover;
     object-fit: cover;
}

.room-features__review-icon {
  position: absolute;
  right: 0;
}

.room-features__review-title {
  margin-bottom: 1rem;
}

.room-features__review-subtitle {
  margin-bottom: 1.5rem;
}

.room-features__cancelation {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.room-features__related {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=style.css.map */